{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="d-flex justify-content-center">
  <form
    class="bg-light"
    style="width: 60%; margin-top: 25%; border-radius: 1rem"
    method="POST"
  >
    <h2>Login</h2>
    <div class="mb-2 mt-3">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="mb-2">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn mint-green-background">Login</button>
  </form>
</div>
{% endblock %}
